//==
//== Color palette
//== ======================================= ==//


$accent            : #3b4ffe; // accent
$secondary         : #22212f;
$dark              : #252525;
$bg                : #fafbfd;
$grey              : #cfcfcf;
$light-grey        : #f4f4f4;
$light-font        : #fff;
$dark-font         : #252525;

$home_bg           : #fff;

$palette-red       : #f94638; // Danger
$palette-green     : #38be57; // Success
$palette-aqua      : #3c8dbc; // Info
$palette-yellow    : #f39c12; // Warning